@model PriceCare.Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    ViewBag.BodyClass = "login";
}
@section script {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".validateOnEnter").keypress(function (event) {
                if (event.which == 13) {
                    event.preventDefault();
                    document.getElementById('forgot_form').submit();
                }
            });
        });

    </script>
}
<header>
    <h1>Forgot Password</h1>
</header>

<section class="m-login cleaner">

    <!-- Left Panel -->
    <div class="m-login-description">
        @Html.Action("GetLeftPanel", "Account")
    </div>

    <!-- Right Panel -->
    <div class="m-login-form">
        <h3>Forgot Password</h3>
        <p>Enter your email address and we'll send you a link to reset your password.</p>
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", id="forgot_form" }))
        {
            @Html.AntiForgeryToken()

            <div>
                <div class="m-login-label">
                    <label for="Email">Your Email Address</label>                    
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "error" })
                </div>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control validateOnEnter" })
            </div>

            <div class="text-align-right">
                <a class="button button-border button-blue button-icon icon-mail" onclick="document.getElementById('forgot_form').submit()">Send</a>
            </div>
            <div class="text-align-right">
                @Html.ActionLink("< or go back to login", "Login")
            </div>
        }
    </div>

</section>