@model PriceCare.Web.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    ViewBag.BodyClass = "login";
}

@section script {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".validateOnEnter").keypress(function (event) {
                if (event.which == 13) {
                    event.preventDefault();
                    document.getElementById('reset_form').submit();
                }
            });
        });
    </script>
}

<header id="mainHeader">
    <h1>@ViewBag.Title</h1>
</header>

<section class="m-login cleaner">
    <!-- Left Panel -->
    <div class="m-login-description">
        @Html.Action("GetLeftPanel", "Account")
    </div>
    
    <!-- Right Panel-->
    <div class="m-login-form">
        <h3>Reset your password</h3>
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "reset_form" }))
        {
            @Html.AntiForgeryToken()

            @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
            @Html.HiddenFor(model => model.Code)
            <div>
                <div class="m-login-label">
                    <label for="Email">Email</label>           
                    @Html.ValidationMessageFor(m => m.Email, "", new{@class="error"})         
                </div>
                @Html.TextBoxFor(m => m.Email, new { @class = "validateOnEnter" })                
            </div>
            <div>
                <div class="m-login-label">
                    <label for="Password">Password</label>
                    @Html.ValidationMessageFor(m => m.Password, "", new{@class="error"})
                </div>                                
                @Html.PasswordFor(m => m.Password, new { @class = "form-control validateOnEnter" })               
            </div>
            <div>
                <div class="m-login-label">
                    <label for="ConfirmPassword">ConfirmPassword</label>
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new{@class="error"})
                </div>                                
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control validateOnEnter" })                
            </div>
            <div class="text-align-right">                
                <a class="button button-border button-blue button-icon icon-mail" onclick="document.getElementById('reset_form').submit()">Reset</a>                
            </div>
        }        
    </div>
</section>